.navbar {
	display: flex;
	font-family: sans-serif;
	height: 85px;
	justify-content: space-between;
}

.nav-container {
	width: 50vw;
	margin: auto;
}

.nav-logo {
	margin: 0 16px;
	font-size: 24px;
	display: flex;
    align-items: center;
	
	p {
		font-family: 'Antonio', sans-serif;
		color: #FFFDFD;
		font-weight: 100;
		font-size: 38px;
	}
	
}

.logo-letter {
	display: inline-block;
	transition: transform 0.5s ease;
}

.logo-letter:hover {
	transform: rotateY(180deg);
	cursor: pointer;
}
.nav-items {
	display: flex;
	align-items: center;
}

.nav-item {
	width: 200px;
	p {
		font-family: 'Comfortaa';
		font-size: 1.75em;
		color: #EAEAEA;
	}
	a {
		color: #EAEAEA;
		text-decoration: none;
	}
	transition: transform 1s;
}

.nav-item:hover {
	transform: translateX(-10px);
}

